{% extends 'base.html' %}
{% load specifications %}
{%block content%}

        <nav aria-label="breadcrumb class='mt-3' ">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' }">Home</a></li>
    <li class="breadcrumb-item active">{{category.name}}</li>

  </ol>
</nav>



 <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in category_products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{product.photo.url}}" alt="{{product.title}}" /> </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.title}}</h5>
                                    <!-- Product price-->
                                    {{product.price}} руб
                                    <br>
                                      <a href=" {% url 'add_to_cart' ct_model=product|to_class_name slug=product.slug %}">
                                        <button class="btn btn-danger"> Добавить в корзину</button></a>
                                    </a>
                                </div>

                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                    </div>

{% endblock content %}
