
<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{product.diagonal}}</td>
    </tr>
     <tr>
      <td>Дисплей</td>
      <td>{{product.display}}</td>
    </tr>
     <tr>
      <td>Разрешение</td>
      <td>{{product.resolution}}</td>
    </tr>
     <tr>
      <td>Батарея</td>
      <td>{{product.battery_volume}}</td>
    </tr>
     <tr>
      <td>Память</td>
      <td>{{product.ram}}</td>
    </tr>
     <tr>
      <td>Карта памяти</td>
      <td>{{product.sd}}</td>
<!--         {%if product.sd == True %}-->
<!--         <td>Да</td>-->
<!--         {%else%}-->
<!--         <td>Нет</td>-->
<!--         {%endif%}-->

    </tr>
      <tr>
      <td>Максимальный объем карты памяти</td>
      <td>{{product.sd_volume}}</td>
    </tr>
      <tr>
      <td>Основная камера</td>
      <td>{{product.main_cam_mp}}</td>
    </tr>
      <tr>
      <td>Фронтальная камера</td>
      <td>{{product.front_cam_mp}}</td>
    </tr>
  </tbody>


